@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-2: #717288;
  --foreground-1: #bac6ce;
  --foreground-1-fade: #bac6ce60;
  --foreground-2-fade: #71728860;
  --background-1: #ffffff;
  --background-2: #c4c4c4;
  --backgroung-2-fade: #c4c4c460;
  --input-bg: #ebebeb;
  --font-color: #2c2c2c;
  --font-color-fade: #dfdfdf8f;
  --error-text-color: red;
  --error-text-shadow: 0px 0px 1px darkred;
  --valid-text-color: greenyellow;
  --valid-text-shadow: 0px 0px 1px green;
  --disable-text-opacity: 0.5;
  --background-fade: rgba(175, 175, 175, 0.2);
  --backgroung-highlight: rgba(175, 175, 175, 0.1);
  --header-font-size: 1.5em;
  --title-font-size: 2em;
  --heart-color: palevioletred;
  --blog-list-item-border: 3px outset var(--foreground-2);
  --form-border: 2px outset var(--foreground-2);
}

@keyframes sliding-loading-bar {
  0% {
    left: -9%;
  }
  100% {
    left: 99%;
  }
}
@keyframes pulse {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 0.9;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-1: #5c469c;
    --foreground-2: #d4adfc;
    --foreground-1-fade: #5c469c60;
    --foreground-2-fade: #d4adfc60;

    --background-1: #0c134f;
    --background-2: #1d267d;
    --background-2-fade: #1d267d60;
    --input-bg: #000000;

    --font-color: #fff;
    --error-text-color: red;
    --error-text-shadow: 0px 0px 1px darkred;
    --valid-text-color: greenyellow;
    --valid-text-shadow: 0px 0px 1px green;
    --disable-text-opacity: 0.5;
    --background-fade: rgba(0, 0, 0, 0.2);
  }
}
html body {
  height: 100%;
  margin: 0;
  background-color: black;
}
select {
  cursor: pointer;
}
body {
  position: relative;
  color: var(--font-color);
  min-width: 100%;
  max-height: 100vh;
  background-image: linear-gradient(
    to bottom right,
    var(--background-1),
    var(--background-2),
    var(--background-1)
  );
  overflow: hidden;
}
ul,
ol {
  list-style-position: inside;
  width: fit-content;
  margin: auto;
}
ul {
  list-style: disc;
}
ol {
  list-style: decimal;
}
ul li,
ol li {
  padding-left: 1em;
  margin: 0.5em 0;
}
.title-not-break {
  display: block;
}
.title-break {
  display: none;
}
#page {
  width: 100%;
  margin: auto;
  min-height: 100vh;
  height: 100%;
  max-height: 100vh;
  position: relative;
  display: grid;
  grid-template-rows: auto 1fr auto;
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--foreground-1-fade) var(--background-2);
  scrollbar-highlight-color: var(--foreground-1);
}

.button {
  color: var(--foreground-2);
}

header {
  width: 100%;
  background-color: var(--background-fade);
  margin-bottom: 1em;
  position: sticky;
  top: 0%;
  backdrop-filter: blur(2px);
  z-index: 30000;
}

#header-content {
  width: 100%;
  margin: 0;
  padding: 0 2em;
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr auto 1fr;
}
.title {
  font-size: var(--title-font-size);
  text-decoration: underline;
  justify-self: left;
  align-self: center;
}
.loading-search {
  width: 19em;
  background-color: var(--input-bg);
  border-radius: 1em;
  animation: pulse;
  animation-duration: 300ms;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.loading-nav {
  display: flex;
  gap: 1em;
  align-items: center;
  justify-self: end;
}
.loading-circle {
  width: 2em;
  height: 2em;
  background-color: var(--foreground-2-fade);
  border-radius: 50%;
  animation: pulse;
  animation-duration: 300ms;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.nav-container {
  margin: auto 0 auto auto;
  height: min-content;
  position: relative;
}
#main-nav {
  display: flex;
  gap: 1em;
  justify-self: flex-end;
  align-self: center;
  margin-left: auto;
  justify-content: flex-end;
}

.small-screen-nav {
  display: none;
  background-color: var(--foreground-1);
  height: fit-content;
  margin: auto;
  padding: 0.75rem;
  border-radius: 0.75rem;
  border: var(--form-border);
}
#main-nav svg {
  font-size: var(--header-font-size);
}

#home-page-div {
  text-align: center;
}
#home-page-div h2 {
  padding: 1em 0;
  font-size: 1.5em;
  text-decoration: underline;
}

#user-display-container {
  display: grid;
  grid-template-columns: auto auto;
  width: fit-content;
  gap: 3em;
  row-gap: 1em;
  margin: auto;
  height: 100%;
  place-content: center;
}

#user-display-container label {
  text-align: right;
}

footer {
  width: 100%;
  display: flex;
  justify-content: space-around;
  background-color: var(--background-fade);
  height: 14em;
  margin-top: 3em;
  border-top: outset 0.5em var(--foreground-1);
}
.footer-div {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 1em 0;
  border: solid var(--foreground-1) 2px;
  border-top: none;
  border-bottom: none;
  background-color: var(--background-fade);
}

.footer-item {
  border-top: solid var(--foreground-1) 2px;
  border-bottom: solid var(--foreground-1) 2px;
  text-align: center;
  transition: all 400ms ease-out;
}
.footer-item:hover,
.footer-item:focus-within {
  filter: brightness(2);
  background-color: var(--backgroung-highlight);
  padding-top: 1em;
  padding-bottom: 1em;
}
.footer-title {
  text-decoration: underline;
  font-weight: 700;
  margin: 0 4em;
}
main {
  width: 100%;
}
#main-body-content {
  width: 70%;
  max-width: 900px;
  margin: auto;
  height: 100%;
}

#blog-list-slice-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#blog-list-slice {
  padding: 1em;
  margin: 1em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.blog-display-item-wrapper {
  width: 50%;
  margin: auto;
  border: var(--blog-list-item-border);
  min-height: 200px;
  position: relative;
  border-radius: 1em;
  overflow: hidden;
}
.blog-display-item-wrapper-loading {
  animation: pulse;
  animation-duration: 500ms;
  animation-iteration-count: infinite;
}

.blog-display-item {
  margin: 1em 5em;
}

.loading-display-item {
  position: absolute;
  width: 10%;
  background: linear-gradient(
    to right,
    transparent,
    var(--background-fade),
    transparent
  );
  min-height: 200px;
  animation: sliding-loading-bar;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.loading-display-item-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.blog-to-display-social-interactions {
  display: flex;
  justify-content: space-around;
  border: var(--foreground-2) 1px outset;
}

.blog-display-title-bar {
  display: flex;
  justify-content: space-between;
  padding: 0.25em 0.5em;
}

.blog-display-body-preview {
  padding: 0.5em 0.5em;
  margin: 0.5em 0em;
  border: var(--font-color-2) 1px outset;
}

.blog-display-title {
  text-decoration: underline;
  font-weight: 400;
}

#pagination-controls {
  display: flex;
  justify-content: center;
  background-color: --f;
  gap: 1em;
  margin-bottom: 1em;
  font-size: 1.5em;
  line-height: 2em;
  border: var(--foreground-2) 3px outset;
  background-color: var(--foreground-1);
}

#blog-post-display-container {
  margin: 1em;
}

#blog-post-title {
  margin: auto;
  text-align: center;
  font-weight: 600;
  font-size: 1.5em;
  text-decoration: underline;
}

#blog-creation-details {
  display: flex;
  justify-content: space-around;
  margin: 0.5em 0;
}

#blog-body {
  margin: 1em;
  line-height: 1.5em;
}

#blog-comments {
  border: var(--foreground-2) 3px solid;
  display: flex;
  flex-direction: column;
}

.blog-post-comment-display-details {
  display: flex;
  gap: 1em;
}

.blog-post-comment-container {
  margin-left: 0.75em;
  margin-top: 0.5em;
  position: relative;
  overflow-y: clip;
  height: fit-content;
}
.comment-show-hide-button-wrapper {
  position: relative;
  top: 0;
  left: -0.3em;
  height: 1.4em;
  width: 1em;
  margin-bottom: 0.2em;
}
.blog-post-comment-inner {
  border-left: var(--foreground-1) solid 3px;
  padding-left: 0.5em;
}
.comment-show-hide-button {
  position: absolute;
}
.hide-comment {
  max-height: 1.4em;
}

.comment-actions {
  display: flex;
  gap: 1em;
  margin-bottom: 0.5em;
}
#form-wrapper {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
}

#login-form {
  display: grid;
  grid-template-areas:
    "username-label username-input username-input username-input"
    "password-label password-input password-input password-input"
    ". login-confirm login-cancel .";
  gap: 1em;
  grid-template-rows: auto auto auto;
  grid-template-columns: 1fr auto auto 1fr;
  margin: 2em auto;
  width: 50%;
}

#username-label {
  grid-area: username-label;
}
#username-input {
  grid-area: username-input;
}
#password-label {
  grid-area: password-label;
}
#form-input-container {
  position: relative;
  grid-area: password-input;
}
#form-input-container-eye {
  position: absolute;
  right: 1em;
  line-height: 3em;
  top: 0.25em;
  cursor: pointer;
}
#password-input {
  width: 100%;
  padding-right: 3em;
}
#login-confirm {
  grid-area: login-confirm;
  margin: 0 1em;
}
#login-cancel {
  grid-area: login-cancel;
  margin: 0 1em;
}
.form-button {
  width: 10em;
  padding: 1em;
  background-color: var(--foreground-1);
  margin: auto;
  border: var(--foreground-2) outset 2px;
  border-radius: 1em;
  color: var(--font-color);
}
.form-label {
  text-align: center;
  line-height: 3em;
}
.form-input {
  line-height: 3em;
  text-align: left;
  padding-left: 1.5em;
  background: var(--foreground-1);
  border: var(--form-border);
  border-radius: 1em;
  color: var(--font-color);
  margin-top: 0.2rem;
}
.form-input-password {
  width: 100%;
  padding-right: 3em;
  color: var(--font-color);
}
#register-form {
  line-height: 3em;
  padding-top: 5em;
  display: grid;
  grid-template-areas:
    "username-label username-container"
    "username-available-box username-available-box"
    "password-label-main password-input-main-container"
    "password-label-second password-input-second-container"
    "register-confirm register-cancel";
  gap: 1.5em;
  grid-template-rows: auto auto auto auto 3em;
  margin: 2em auto;
  width: 50%;
}
#register-form label {
  text-align: right;
  padding-right: 1em;
}
#register-form-username-input {
  width: 100%;
}
.display-username-availability {
  grid-area: username-available-box;
  text-align: center;
}
.display-username-not-availabile {
  color: var(--error-text-color);
  text-shadow: var(--error-text-shadow);
}
.display-username-availabile {
  color: var(--valid-text-color);
  text-shadow: var(--valid-text-shadow);
}
.checking-display-username-availability {
  color: var(--font-color);
  opacity: var(--disable-text-opacity);
}
.form-password-container {
  position: relative;
}
.boxshadow-alert {
  box-shadow: 0em 0em 0em 0.5em var(--error-text-color);
}
.password-error-box {
  transition: max-height 1s ease-out;
  overflow: hidden;
  max-height: 0px;
}
.password-error-box svg {
  margin: 0 1em;
}
.show-password-error-box {
  max-height: 100vh;
}

.text-accept {
  color: var(--valid-text-color);
  text-shadow: var(--valid-text-shadow);
}
.text-reject {
  color: var(--error-text-color);
  text-shadow: var(--error-text-shadow);
}
.fade-text {
  color: var(--font-color-fade);
  font-style: italic;
}
.text-hidden {
  color: transparent;
}
#write-new-post-form-container {
  display: inline-block;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
#write-new-post-preview {
  width: 100%;
  transition: max-width 1s ease-out, margin 1s ease-out,
    border-width 1s ease-out, opacity 1s ease-out, max-height 1s ease-out;
  margin: 0;
  border-style: solid;
  border-radius: 1em;
  box-sizing: border-box;
  overflow: hidden;
}
.collapse-preview {
  max-width: 0%;
  padding: 0;
  border-width: 0px;
  opacity: 0;
  max-height: 100%;
}
.expand-preview {
  max-width: 50%;
  padding: 1em;
  border-width: 1px;
  opacity: 1;
  max-height: 100%;
}
.write-new-post-form {
  display: grid;
  grid-template-areas:
    "title-label title-input title-input title-input"
    "body-textarea body-textarea body-textarea body-textarea"
    ". submit-button cancel-button show-preview-button";
  grid-template-rows: 3em auto auto;
  gap: 1em;
  padding: 1em;
}
#show-preview-checkbox-container {
  grid-area: show-preview-button;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 1em;
  margin-bottom: auto;
  margin-top: 1em;
}
#new-post-label-title {
  grid-area: title-label;
}
#new-post-input-title {
  grid-area: title-input;
}
#new-post-input-body {
  grid-area: body-textarea;
}
#new-post-submit-button {
  grid-area: submit-button;
  margin-top: 0;
}
#new-post-cancel-button {
  grid-area: cancel-button;
  margin-top: 0;
}
.blog-post-controls-item {
  border: solid 3px var(--background-fade);
  width: fit-content;
  padding: 0.5em;
  border-radius: 1em 0;
  margin: 0.5em 0.2em;
}

.like-controls {
  display: flex;
  align-items: center;
  gap: 0.5em;
}
.heart {
  color: var(--heart-color);
  font-size: 1.5em;
  line-height: 2em;
}
.like-count {
  line-height: 2em;
  font-size: 1em;
}
.modal {
  background: var(--background-fade);
  color: var(--font-color);
  z-index: 10;
  min-height: 100%;
  min-width: 100%;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 0;
}
.modal-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1em;
  background-color: var(--background-2);
  border-radius: 1em;
  border: var(--foreground-1) solid 5px;
  width: max(50%, 900px);
  display: grid;
  gap: 1em;
}

#make-comment-form {
  width: max(50%, 900px);
  grid-template-areas:
    "title title title title"
    "text text text text"
    ". submit cancel .";
  grid-template-rows: auto auto auto;
}
#make-comment-modal-input {
  grid-area: title;
}
#make-comment-modal-textarea {
  grid-area: text;
}
#make-comment-submit {
  grid-area: submit;
}
#make-comment-cancel {
  grid-area: cancel;
}

#login-modal-form {
  width: max(900px, 50%);
  grid-template-rows: 3em 3em 3em 3em auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "username-label username-input username-input username-input"
    "password-label password-input password-input password-input"
    ". confirm-button cancel-button ."
    ". text text ."
    ". error error .";
  height: max(400px, 30%);
  place-content: center;
}
#login-modal-username-label {
  grid-area: username-label;
}
#login-modal-username-input {
  grid-area: username-input;
}
#login-modal-password-label {
  grid-area: password-label;
}
#login-modal-password-input-hidden {
  grid-area: password-input;
}
#login-modal-password-input-shown {
  grid-area: password-input;
}
#login-modal-confirm {
  grid-area: confirm-button;
}
#login-modal-cancel {
  grid-area: cancel-button;
}
#login-modal-register {
  grid-area: text;
  padding: 1em;
}
#login-modal-error {
  color: var(--error-text-color);
  text-shadow: var(--error-text-shadow);
  background-color: var(--background-fade);
  grid-area: error;
  padding: 0.5em;
  border-radius: 1em;
  margin: 0.5em;
}

#delete-post-modal-form {
  grid-template-areas:
    ". text text ."
    ". confirm cancel .";
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr auto;
  place-content: center;
}
#delete-post-modal-text {
  grid-area: text;
  padding: 1em 3em;
  border-bottom: var(--foreground-1) solid 2px;
  border-top: var(--foreground-1) solid 2px;
}
#delete-post-modal-confirm {
  grid-area: confirm;
}
#delete-post-modal-cancel {
  grid-area: cancel;
}

.blog-post-controls {
  display: flex;
  gap: 1em;
}
#restore-post-modal-form {
  grid-template-areas:
    ". text text ."
    ". confirm cancel .";
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr auto;
  place-content: center;
}
#restore-post-modal-text {
  grid-area: text;
  padding: 1em 3em;
  border-bottom: var(--foreground-1) solid 2px;
  border-top: var(--foreground-1) solid 2px;
}
#restore-post-modal-confirm {
  grid-area: confirm;
}
#restore-post-modal-cancel {
  grid-area: cancel;
}

#blog-list-controls {
  display: flex;
  gap: 2em;
  border-bottom: var(--background-fade) outset 2px;
  padding-bottom: 1em;
}

#search-form-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#search-form-input {
  padding-right: 3em;
}

.search-button {
  position: absolute;
  right: 1em;
  top: 50%;
  transform: translateY(-50%);
}
.search-box-list-input {
  padding-right: 2.5em;
}
.search-box-list-button {
  position: absolute;
  right: 0em;
  height: 80%;
  top: 10%;
  padding: 0 0.5em;
}

.sort-selection {
  line-height: 1.5em;
  padding: 0.5em 1em;
  height: 100%;
}

#blog-body {
  text-align: center;
  position: relative;
}
.codefence-container {
  background-color: var(--background-fade);
  padding: 1em;
  width: fit-content;
  margin: 0.5em auto;
}
.code-item {
  background-color: var(--background-fade);
  padding: 0.2em 0.5em;
}
.blog-display-header {
  font-weight: 600;
  font-size: 1.2em;
  text-decoration: underline;
  margin-bottom: 0.5em;
  margin-top: 0.2em;
}
.blog-display-h5 {
  font-weight: 650;
  font-size: 1.4em;
}
.blog-display-h4 {
  font-weight: 650;
  font-size: 1.6em;
}
.blog-display-h3 {
  font-weight: 650;
  font-size: 1.8em;
}
.blog-display-h2 {
  font-weight: 650;
  font-size: 2em;
}
.blog-display-h1 {
  font-weight: 650;
  font-size: 2.2em;
  margin-bottom: 1em;
}
blockquote {
  background-color: var(--background-fade);
  margin: 1em auto;
  width: fit-content;
  padding: 2em;
  position: relative;
}
blockquote::before,
blockquote::after {
  position: absolute;
  width: 1em;
  content: "";
  background-color: var(--background-fade);
  left: 0;
  height: 100%;
  top: 0;
}
blockquote::after {
  left: unset;
  right: 0;
}

.blog-display-image {
  margin: auto;
}

.form-select {
  background: var(--input-bg);
  border-radius: 1em;
  padding: 1em 1em;
}

#admin-control-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  height: 100%;
}

.admin-control-form-container {
  width: 75%;
  min-height: 300px;
  height: fit-content;
  margin: auto;
  padding: 1em;
}

#user-role-editor-form {
  display: grid;
  gap: 1em;
  row-gap: 1.5em;
  grid-template-areas:
    ". username-label username-select ."
    ". current-role-label current-role-list ."
    ". ban-label ban-status ."
    ". disabled-label disabled-status ."
    ". action-label action-select ."
    ". role-label role-select ."
    ". button button ."
    ". message message .";
  grid-template-columns: 1fr auto 2fr 1fr;
  grid-template-rows: repeat(8, 4.5em);
}

#user-editor-message {
  grid-area: message;
  margin: auto;
  width: 90%;
  opacity: 0;
  transition: opacity 500ms ease-out;
}

#user-role-editor-form label {
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#role-select {
  grid-area: role-select;
}

#role-label {
  grid-area: role-label;
}

#user-role-editor-actions {
  grid-area: action-select;
}

#action-label {
  grid-area: action-label;
}

#ban-label {
  grid-area: ban-label;
}
#ban-status {
  grid-area: ban-status;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
#disabled-label {
  grid-area: disabled-label;
}
#disabled-status {
  grid-area: disabled-status;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#user-current-roles-list {
  grid-area: current-role-list;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#current-roles-label {
  grid-area: current-role-label;
}

#user-role-editor-user-select {
  grid-area: username-select;
}
#user-role-editor-role-select {
  grid-area: role-select;
}
#user-role-editor-confirm {
  grid-area: button;
}

#username-label {
  grid-area: username-label;
}
@media only screen and (max-width: 1330px) {
  #main-nav {
    flex-wrap: wrap;
    width: 250px;
  }
  #header-content {
    padding: 0.2rem 1rem;
  }
}
@media only screen and (max-width: 1080px) {
  .write-new-post-form {
    width: 100%;
  }
  #write-new-post-form-container {
    flex-direction: column;
    align-items: center;
    justify-content: stretch;
  }
  #write-new-post-preview {
    height: 500px;
    flex-shrink: 1;
  }
  .collapse-preview {
    max-height: 0;
  }
  .expand-preview {
    max-height: 500px;
    max-width: 100%;
  }
}
@media only screen and (max-width: 970px) {
  #search-form-input {
    padding: 0;
    padding-left: 1rem;
  }
}

@media only screen and (max-width: 870px) {
  html {
    font-size: small;
  }
  #search-form-input {
    width: 100%;
  }
  #main-nav {
    width: 220px;
  }
  #header-content {
    grid-template-columns: auto 1fr auto;
  }
  #new-post-label-title {
    width: fit-content;
    height: fit-content;
  }
  #show-preview-checkbox-container {
    margin: auto;
  }
  #new-post-submit-button {
    width: 100%;
  }
  #new-post-cancel-button {
    width: 100%;
  }
  .write-new-post-form {
    grid-template-areas:
      "title-label title-input title-input"
      "body-textarea body-textarea body-textarea"
      ". submit-button ."
      ". cancel-button ."
      ". show-preview-button .";
    grid-template-columns: 3em 1fr 3em;
    flex-grow: 1;
    grid-template-rows: auto auto 1fr auto auto auto;
  }
}
@media only screen and (max-width: 660px) {
  html {
    font-size: x-small;
  }
  #main-nav {
    width: 170px;
  }
  #main-body-content {
    width: 90%;
  }
}
@media only screen and (max-width: 500px) {
  #header-content {
    grid-template-columns: auto 1fr auto;
    gap: 1rem;
  }
  .title-break {
    display: block;
  }
  .title-not-break {
    display: none;
  }
  .nav-wrapper {
    transition: max-height 500ms ease-out, opacity 500ms ease-out;
    position: absolute;
    top: calc(100% + 1rem);
    right: 0%;
    width: 100px;
    overflow: hidden;
  }
  #main-nav {
    width: 100%;
    background-color: var(--foreground-1);
    padding: 1rem;
    border: var(--form-border);
    border-radius: 1rem;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
  }
  .hide-nav {
    max-height: 0px;
    opacity: 0;
  }
  .show-nav {
    opacity: 1;
    max-height: 200px;
  }

  .small-screen-nav {
    display: block;
  }
}
