@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-1: #5c469c;
    --foreground-2: #d4adfc;
    --background-1: #0c134f;
    --background-2: #1d267d;
    --font-color: #fff;
  }
}
body {
  scrollbar-base-color: #0c134f;
  color: var(--font-color);
  min-width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(
    to bottom right,
    var(--background-1),
    var(--background-2),
    var(--background-1)
  );
}
#page {
  width: 70%;
  margin: auto;
  min-height: 100vh;
}

header {
  display: flex;
  justify-content: space-between;
  margin: auto;
}

#main-nav {
  display: flex;
  gap: 1em;
}

#blog-list-slice-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#blog-list-slice {
  padding: 1em;
  margin: 1em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.blog-display-item {
  width: 50%;
  margin: auto;
  border: var(--background-2) 3px outset;
  padding: 1em 5em;
}

.blog-to-display-social-interactions {
  display: flex;
  justify-content: space-around;
  border: var(--foreground-2) 1px outset;
}

.blog-display-title-bar {
  display: flex;
  justify-content: space-between;
  padding: 0.25em 0.5em;
}

.blog-display-body-preview {
  padding: 0.5em 0.5em;
  margin: 0.5em 0em;
  border: var(--font-color-2) 1px outset;
}

.blog-display-title {
  text-decoration: underline;
  font-weight: 400;
}

#pagination-controls {
  display: flex;
  justify-content: center;
  background-color: --f;
  gap: 1em;
  margin-bottom: 1em;
  font-size: 1.5em;
  line-height: 2em;
  border: var(--foreground-2) 3px outset;
  background-color: var(--foreground-1);
}

#blog-post-display-container {
  margin: 1em;
}

#blog-post-title {
  margin: auto;
  text-align: center;
  font-weight: 600;
  font-size: 1.5em;
  text-decoration: underline;
}

#blog-creation-details {
  display: flex;
  justify-content: space-around;
  margin: 0.5em 0;
}

#blog-body {
  margin: 1em;
  line-height: 1.5em;
}

#blog-comments {
  border: #1d267d 3px solid;
}

.blog-post-comment-display-details {
  display: flex;
  gap: 1em;
}

.blog-post-comment-container {
  margin-left: 0.5em;
  margin-top: 0.5em;
  border-left: #5c469c solid 3px;
  padding-left: 0.5em;
}

.comment-actions {
  display: flex;
  gap: 1em;
  margin-bottom: 0.5em;
}

#login-form {
  display: grid;
  grid-template-areas:
    "username-label username-input"
    "password-label password-input"
    "login-confirm login-cancel";
  gap: 1em;
  grid-template-rows: 3em 3em 3em;
  margin: 2em auto;
  width: 50%;
}

#username-label {
  grid-area: "username-label";
}
#username-input {
  grid-area: "username-input";
}
#password-label {
  grid-area: "password-label";
}
#form-input-container {
  position: relative;
}
#form-input-container-eye {
  position: absolute;
  right: 0em;
  padding: 0 1em;
  line-height: 3em;
  top: 0;
  cursor: pointer;
}
#password-input {
  width: 100%;
  padding-right: 3em;
}
#login-confirm {
  grid-area: "login-confirm";
}
#login-cancel {
  grid-area: "login-cancel";
}
.form-button {
  width: 10em;
  padding: 1em;
  background-color: var(--foreground-1);
  margin: auto;
  border: var(--foreground-2) outset 2px;
  border-radius: 1em;
}
.form-label {
  text-align: center;
  line-height: 3em;
}
.form-input {
  line-height: 3em;
  text-align: left;
  padding-left: 1.5em;
  background: black;
  border: var(--background-2) 2px outset;
  border-radius: 1em;
}
.form-input-password {
  width: 100%;
  padding-right: 3em;
}
#register-form {
  line-height: 3em;
  padding-top: 5em;
  display: grid;
  grid-template-areas:
    "username-label username-container"
    "username-available-box username-available-box"
    "password-label-main password-input-main-container"
    "password-label-second password-input-second-container"
    "register-confirm register-cancel";
  gap: 1.5em;
  grid-template-rows: 3em 3em auto auto 3em;
  margin: 2em auto;
  width: 50%;
}
#register-form label {
  text-align: right;
  padding-right: 1em;
}
.display-username-availability {
  grid-area: username-available-box;
}
.form-password-container {
  position: relative;
}
.boxshadow-alert {
  box-shadow: 0em 0em 0em 0.5em red;
}
.password-error-box {
  transition: max-height 1s ease-out;
  overflow: hidden;
  max-height: 0px;
}
.show-password-error-box {
  max-height: 100vh;
}

.text-accept {
  color: greenyellow;
  text-shadow: 0px 0px 1px darkgreen;
}
.text-reject {
  color: red;
  text-shadow: 0px 0px 1px darkred;
}
