@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-1: #5c469c;
  --foreground-2: #d4adfc;
  --background-1: #0c134f;
  --background-2: #1d267d;
  --font-color: #fff;
  --error-text-color: red;
  --error-text-shadow: 0px 0px 1px darkred;
  --valid-text-color: greenyellow;
  --valid-text-shadow: 0px 0px 1px green;
  --disable-text-opacity: 0.5;
  --background-fade: rgba(255, 255, 255, 0.2);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-1: #5c469c;
    --foreground-2: #d4adfc;
    --background-1: #0c134f;
    --background-2: #1d267d;
    --font-color: #fff;
    --error-text-color: red;
    --error-text-shadow: 0px 0px 1px darkred;
    --valid-text-color: greenyellow;
    --valid-text-shadow: 0px 0px 1px green;
    --disable-text-opacity: 0.5;
    --background-fade: rgba(0, 0, 0, 0.2);
  }
}
html body {
  height: 100%;
  margin: 0;
}
body {
  position: relative;
  color: var(--font-color);
  min-width: 100%;
  background-image: linear-gradient(
    to bottom right,
    var(--background-1),
    var(--background-2),
    var(--background-1)
  );
}
#page {
  width: 100%;
  margin: auto;
  min-height: 100vh;
  position: relative;
}

.button {
  color: var(--foreground-2);
}

header {
  width: 100%;
  background-color: var(--background-fade);
  margin-bottom: 1em;
}
#header-content {
  width: 70%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
main {
  width: 100%;
}
#main-body-content {
  width: 70%;
  margin: auto;
}
#main-nav {
  display: flex;
  gap: 1em;
}

#blog-list-slice-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#blog-list-slice {
  padding: 1em;
  margin: 1em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.blog-display-item {
  width: 50%;
  margin: auto;
  border: var(--background-2) 3px outset;
  padding: 1em 5em;
}

.blog-to-display-social-interactions {
  display: flex;
  justify-content: space-around;
  border: var(--foreground-2) 1px outset;
}

.blog-display-title-bar {
  display: flex;
  justify-content: space-between;
  padding: 0.25em 0.5em;
}

.blog-display-body-preview {
  padding: 0.5em 0.5em;
  margin: 0.5em 0em;
  border: var(--font-color-2) 1px outset;
}

.blog-display-title {
  text-decoration: underline;
  font-weight: 400;
}

#pagination-controls {
  display: flex;
  justify-content: center;
  background-color: --f;
  gap: 1em;
  margin-bottom: 1em;
  font-size: 1.5em;
  line-height: 2em;
  border: var(--foreground-2) 3px outset;
  background-color: var(--foreground-1);
}

#blog-post-display-container {
  margin: 1em;
}

#blog-post-title {
  margin: auto;
  text-align: center;
  font-weight: 600;
  font-size: 1.5em;
  text-decoration: underline;
}

#blog-creation-details {
  display: flex;
  justify-content: space-around;
  margin: 0.5em 0;
}

#blog-body {
  margin: 1em;
  line-height: 1.5em;
}

#blog-comments {
  border: #1d267d 3px solid;
  display: flex;
  flex-direction: column;
}

.blog-post-comment-display-details {
  display: flex;
  gap: 1em;
}

.blog-post-comment-container {
  margin-left: 0.5em;
  margin-top: 0.5em;
  border-left: #5c469c solid 3px;
  padding-left: 0.5em;
}

.comment-actions {
  display: flex;
  gap: 1em;
  margin-bottom: 0.5em;
}

#login-form {
  display: grid;
  grid-template-areas:
    "username-label username-input"
    "password-label password-input"
    "login-confirm login-cancel";
  gap: 1em;
  grid-template-rows: 3em 3em 3em;
  margin: 2em auto;
  width: 50%;
}

#username-label {
  grid-area: "username-label";
}
#username-input {
  grid-area: "username-input";
}
#password-label {
  grid-area: "password-label";
}
#form-input-container {
  position: relative;
}
#form-input-container-eye {
  position: absolute;
  right: 0em;
  padding: 0 1em;
  line-height: 3em;
  top: 0;
  cursor: pointer;
}
#password-input {
  width: 100%;
  padding-right: 3em;
}
#login-confirm {
  grid-area: "login-confirm";
}
#login-cancel {
  grid-area: "login-cancel";
}
.form-button {
  width: 10em;
  padding: 1em;
  background-color: var(--foreground-1);
  margin: auto;
  border: var(--foreground-2) outset 2px;
  border-radius: 1em;
  color: var(--font-color);
}
.form-label {
  text-align: center;
  line-height: 3em;
}
.form-input {
  line-height: 3em;
  text-align: left;
  padding-left: 1.5em;
  background: black;
  border: var(--background-2) 2px outset;
  border-radius: 1em;
  color: var(--font-color);
}
.form-input-password {
  width: 100%;
  padding-right: 3em;
  color: var(--font-color);
}
#register-form {
  line-height: 3em;
  padding-top: 5em;
  display: grid;
  grid-template-areas:
    "username-label username-container"
    "username-available-box username-available-box"
    "password-label-main password-input-main-container"
    "password-label-second password-input-second-container"
    "register-confirm register-cancel";
  gap: 1.5em;
  grid-template-rows: auto auto auto auto 3em;
  margin: 2em auto;
  width: 50%;
}
#register-form label {
  text-align: right;
  padding-right: 1em;
}
#register-form-username-input {
  width: 100%;
}
.display-username-availability {
  grid-area: username-available-box;
  text-align: center;
}
.display-username-not-availabile {
  color: var(--error-text-color);
  text-shadow: var(--error-text-shadow);
}
.display-username-availabile {
  color: var(--valid-text-color);
  text-shadow: var(--valid-text-shadow);
}
.checking-display-username-availability {
  color: var(--font-color);
  opacity: var(--disable-text-opacity);
}
.form-password-container {
  position: relative;
}
.boxshadow-alert {
  box-shadow: 0em 0em 0em 0.5em red;
}
.password-error-box {
  transition: max-height 1s ease-out;
  overflow: hidden;
  max-height: 0px;
}
.password-error-box svg {
  margin: 0 1em;
}
.show-password-error-box {
  max-height: 100vh;
}

.text-accept {
  color: greenyellow;
  text-shadow: 0px 0px 1px darkgreen;
}
.text-reject {
  color: red;
  text-shadow: 0px 0px 1px darkred;
}

#write-new-post-form {
  display: grid;
  grid-template-areas:
    "title-label title-input title-input title-input"
    "body-textarea body-textarea body-textarea body-textarea"
    ". submit-button cancel-button .";
  grid-template-rows: auto auto auto;
  gap: 1em;
  padding: 1em;
  width: 75%;
  margin: auto;
}
#new-post-label-title {
  grid-area: title-label;
}
#new-post-input-title {
  grid-area: title-input;
}
#new-post-input-body {
  grid-area: body-textarea;
}
#new-post-submit-button {
  grid-area: submit-button;
}
#new-post-cancel-button {
  grid-area: cancel-button;
}
.blog-post-controls-item {
  border: solid 3px var(--background-fade);
  width: fit-content;
  padding: 0.5em;
  border-radius: 1em 0;
  margin: 0.5em 0.2em;
}

.like-controls {
  display: flex;
  align-items: center;
  gap: 0.5em;
}
.heart {
  color: palevioletred;
  font-size: 1.5em;
  line-height: 2em;
}
.like-count {
  line-height: 2em;
  font-size: 1em;
}
.modal {
  background: var(--background-fade);
  color: var(--font-color);
  z-index: 10;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 0;
}
.modal-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1em;
  background-color: var(--background-2);
  border-radius: 1em;
  border: #5c469c solid 5px;
  width: max(50%, 900px);
  display: grid;
  gap: 1em;
}

#make-comment-form {
  width: max(50%, 900px);
  grid-template-areas:
    "text text text text"
    ". submit cancel .";
  grid-template-rows: auto auto;
}
#make-comment-modal-textarea {
  grid-area: text;
}
#make-comment-submit {
  grid-area: submit;
}
#make-comment-cancel {
  grid-area: cancel;
}

#login-modal-form {
  width: max(900px, 50%);
  grid-template-rows: 3em 3em 3em 3em auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "username-label username-input username-input username-input"
    "password-label password-input password-input password-input"
    ". confirm-button cancel-button ."
    ". text text ."
    ". error error .";
  height: max(400px, 30%);
  place-content: center;
}
#login-modal-username-label {
  grid-area: username-label;
}
#login-modal-username-input {
  grid-area: username-input;
}
#login-modal-password-label {
  grid-area: password-label;
}
#login-modal-password-input-hidden {
  grid-area: password-input;
}
#login-modal-password-input-shown {
  grid-area: password-input;
}
#login-modal-confirm {
  grid-area: confirm-button;
}
#login-modal-cancel {
  grid-area: cancel-button;
}
#login-modal-register {
  grid-area: text;
  padding: 1em;
}
#login-modal-error {
  color: red;
  background-color: var(--background-fade);
  grid-area: error;
  padding: 0.5em;
  border-radius: 1em;
  margin: 0.5em;
}

#delete-post-modal-form {
  grid-template-areas:
    ". text text ."
    ". confirm cancel .";
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr auto;
  place-content: center;
}
#delete-post-modal-text {
  grid-area: text;
  padding: 1em 3em;
  border-bottom: var(--foreground-1) solid 2px;
  border-top: var(--foreground-1) solid 2px;
}
#delete-post-modal-confirm {
  grid-area: confirm;
}
#delete-post-modal-cancel {
  grid-area: cancel;
}
